parameters:
  level: 6
  treatPhpDocTypesAsCertain: false
  checkMissingIterableValueType: false
  checkGenericClassInNonGenericObjectType: false
  paths:
    - src
  bootstrapFiles:
    - tests/teststub.php